.new-tweet-input {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: solid 4px #545149;
  align-items: flex-end;
}

textarea {
  width: 50%;
  border-radius: 10px;
  padding: 0.25rem;
}

label {
  font-weight: bold;
}

.new-tweet-submit {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
}

button {
  background-color: #4056A1;
  color: #ffffff;
  padding: 0.25rem 0.75rem;
  border: 0;
}