.new-tweet-input {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 4px #545149;
}

textarea {
  width: 100%;
  border: 0px;
  padding: 0.25rem;
  background-color: #f4f1ec;
  font-size: 16px;
  font-weight: bold;
}

label {
  font-weight: bold;
}

.new-tweet-submit {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
}

button {
  background-color: #4056A1;
  color: #ffffff;
  padding: 0.25rem 0.75rem;
  border: 0;
}

.show-error {
  display: block;
  margin-top: 20px;
  background-color: rgba(255, 0, 0, 0.4);
  color: red;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid red;
}